/* Common Styles */
body {
    font-family: 'Georgia', sans-serif;
    margin: 20px;
    text-align: center;
}

/* Popup Styles */
#currentStatus {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Options Styles */
#buttonDiv {
    margin-bottom: 20px;
}

a, p {
    font-weight: bold;
    font-size: 18px;
    color: #ff913b;
}


textarea {
    width: 80%;
    height: 100px;
    resize: vertical;
}

#saveInputUrl {
    padding: 10px;
    background-color: #209e55;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveInputUrl:active {
    background-color: #2d9357;
    color: #fff;
}



